@import "tailwindcss";

:root {
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #F1FBF4;
}
.blur {
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid gray;
  border-radius: 8px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.layer1 {
  background-image: url('/layer1.svg');
}
.layerLeftorTop {
  background-image: url('/layerLeft2.svg');
}
@media (max-width: 640px) {
  .layerLeftorTop {
    background-image: url('/layerTop2.svg');
  }
  
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  opacity: 0;                 
  animation: fadeInUp 0.5s ease-out forwards;
}


@keyframes fadeInMore {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-inR {
  opacity: 0;                 
  animation: fadeInMore 0.5s ease-out forwards;
}